<main>
	<form action='/' name='form' method='POST' id='login'>
		<fieldset class='login'>
			<legend>Log in</legend>
			<label for='username'>Username</label>
			<input type='text' name='username' id='username' required />
			<label for='password'>Password</label>
			<input type='password' name='password' id='password' required />
		</fieldset>
		<button type='submit'>Log in</button>
	</form>

	<section>
		<header><h3>Or create an account here</h3></header>
		<article>
			<a href='/register'>Register</a>
		</article>
	</section>
</main>