:root {
	--display-fieldset: block;
	--legend-font-size: 1.25rem;
	--global-font-size: 1rem;
	--spacing-lf: 0 1rem 0 1rem;
	--spacing-tb: 0.6rem 0 0.6rem 0;
	--spacing-legend: 0.8rem 0 0.8rem 0;
	--line-height-pb: 2.8rem;
	--pb-circle: 2rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: var(--global-font-size);
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	margin: 1rem 0 1rem 0;
}

legend {
	font-size: var(--legend-font-size);
	margin: var(--spacing-legend);
}

fieldset {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: none;
	margin: var(--spacing-tb);
}

input[type='text'],
input[type='email'],
input[type='date'],
input[type='password'] {
	max-width: 20rem;
	width: 100%;
	padding: 0.4rem;
	margin: 0.2rem 0 1rem 0;
	font-size: 1rem;
}

button {
	padding: 0.9rem;
	max-width: 20rem;
	width: 80%;
	background-color: #83b1fe;
	border: none;
	border-radius: 3px;
	color: #ffffff;
	font-weight: 600;
	cursor: pointer;
	margin-bottom: 1rem;
}

legend {
	margin: 0 auto;
	margin-bottom: 1rem;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	display: block;
}

a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	background-color: #83b1fe;
	padding: 1rem;
	border-radius: 3px;
	margin: 1rem 0 1rem 0;
}

span {
	align-self: center;
}

.orientation-section input[type='radio'],
.sex-section input[type='radio'] {
	margin-right: 0.4rem;
}

.sex-section,
.orientation-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.sex-section label,
.orientation-section label {
	position: relative;
	background-color: lightgrey;
	padding: 1rem;
	text-align: center;
	margin: 0.4rem 0.4rem 0.4rem 0;
	border-radius: 3px;
	max-width: 10rem;
}

input:focus:invalid {
	outline: none;
}

.error {
	display: block;
	color: red;
	max-width: 20rem;
	width: 100%;
}

.error.active {
	padding: 0 0 1rem 0;
}

.invalid {
	border: 1px solid red;
}

.valid {
	border: 1px solid black;
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
}
